<% provide(:title, "Home")%>

<div class="container-fluid bg-3 text-center">
    <div class="center jumbotron"> 
        <br><br><br><br><br><br>     
        <p class="subtitle is-3">How to Get Motivated When You Don't Love Cooking</p>   
      
        <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-warning" %>
        <br><br><br><br><br><br> 
    </div>
    <p class="subtitle is-3">Explore most recent tastes</p>
    <br>
</div>
<div class="recipes">       
    <% @recipes.each do |item| %>           
        <div class="card">
          <div class="card-image">
            <%= link_to recipe_path(item.id) do %> 
                <figure class="image is-4by3">          
                    <%= image_tag(item.display_image, class:"img-fluid w-100 img-rounded")  if item.image.attached? %> 
                </figure>
            <% end %>
          </div> 
          <br>
          <div class="card-content">                                  
             <%= link_to recipe_path(item.id) do %>
                <p class="subtitle is-4" style="color: #1abc9c;"><%= item.name %></p>
             <% end %>
             <div class="content">                
                <%= item.content %> 
             </div>                            
          </div>
          <div>
            <footer class="card-footer">                         
              <p>Posted <%= time_ago_in_words(item.created_at) %> ago by: <%= link_to item.user.name, item.user %></p>                               
            </footer>
          </div>   
      </div>          
    <% end %>
</div>


