<% provide(:title, 'All recipes') %>

<h1>All recipes</h1>

<%= will_paginate %>
<div class="all-recipes">
    <% @recipes.each do |item| %>           
            <div class="card">
                <div class="card-image">
                    <%= link_to recipe_path(item.id) do %> 
                        <figure class="image is-4by3">          
                            <%= image_tag(item.display_image, class:"img-fluid w-100 img-rounded")  if item.image.attached? %> 
                        </figure>
                    <% end %>
                </div> 
                <br>      
                <%= link_to recipe_path(item.id) do %>
                    <h1 class="subtitle is-4" style="color: #1abc9c;">
                            <%= item.name %>
                    </h1>
                <% end %>
                    <div class="content">                
                        <%= item.content %> 
                    </div>    
                </div>          
            
      
    <% end %>
</div>
<%= will_paginate %>