<% provide(:title, @recipe.name) %>

<div class="recipe">    
    <% if logged_in? %>
    <div class="buttons">
        <%= link_to "Edit recipe", edit_recipe_path %> |
        <%= link_to 'Back', :back %>
    <div>
    <% end %>
    <h2 class="recipe-title"><%= @recipe.name %></h2>    
    <div class="text" style="padding-left:200px; padding-right: 200px;">                                                   
        <%= @recipe.content %>                   
    </div>  
    <hr/>                          
    <div class="text-center">
        <%= image_tag(@recipe.display_image, class:"img-rounded") if @recipe.image.attached? %>              
     </div>
     <br>
     <div class="text" style="padding-left:200px; padding-right: 200px;">                                                   
        <%= simple_format(@recipe.details) %>                   
    </div>               
                          
</div> 
           