<% provide(:title, @recipe.name) %>

<div class="recipe">        
    <h1 class="recipe-title"><%= @recipe.name %></h1>
    <% if logged_in? %>
        <%= link_to "Edit recipe", edit_recipe_path %> |
        <%= link_to 'Back', :back %>
    <% end %>
    <h3>                                                   
        <%= @recipe.content %>
         <hr/>           
    </h3>  
                             
    <div class="text-center">
        <%= image_tag(@recipe.display_image, class:"img-rounded") if @recipe.image.attached? %>              
     </div>             
                          
</div> 
           